.Navbar_Main_div{
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    background-color: black;
    height: auto;
}

.Navbar_Main_div > img{
    width:8%;
    height: 100%;
}

.SearchBar_Main_Div{
    width: 60%;
}

.SearchBar_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    width: 100%;
}

.SearchBar_form > input:first-child{
    width: 80%;
    padding: 1% 2%;
    font-size: larger;
}

.SearchBar_form > input:last-child{
    width: 20%;
    font-size: larger;
}

.Suggestion_Main_div{
    height: 30vh;
    overflow-y: scroll;
    width: 40%;
    position: absolute;
    background-color: whitesmoke;
    top:"20%";
    padding:2% 1%;
    border: 1.5px solid gray;
    border-radius: 10px;
}

@media screen and (max-width:850px) {
    .Suggestion_Main_div{
        height: 20vh;
    }
}

@media screen and (max-width: 650px) {
    .Navbar_Main_div{
        padding: 0% 1%;
    }

    .Navbar_Main_div > img{
        width:15%;
    }

    .SearchBar_Main_Div{
        width: 80%;
    }

    .SearchBar_form > input:last-child{
        width: 20%;
        font-size: medium;
    }

    .Suggestion_Main_div{
        width : 58%;
        height: 25vh;
    }
}

@media screen and (max-width: 400px) {

    .Navbar_Main_div{
        flex-direction: column;
        padding-bottom: 3%;
    }

    .Navbar_Main_div > img{
        width:15%;
        height: 100%;
    }

    .SearchBar_Main_Div{
        width: 100%;
    }

    .Suggestion_Main_div{
        width : 100%;
        left : 0px;
    }
}